<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="g.rowParameter" *ngFor="let g of gridModel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ g.title }}</th>
      <td mat-cell *matCellDef="let element">
        {{ getElementFromPath(element, g.rowParameter) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="rowParameter"></tr>
    <tr mat-row *matRowDef="let row; columns: rowParameter"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 50, 100, 150, 200]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
