<div class="row">
  <div class="col-3">
    <app-filter-sidebar></app-filter-sidebar>
  </div>
  <div class="col-6">
    <tb-mat-table
      [showColumnSelector]="true"
      [showPaginator]="true"
      [dataService]="service"
      [gridModel]="gridModel"
      (selectionChange)="selectItems($event)"
    >
    </tb-mat-table>
  </div>
  <div class="col-3">
    <tb-mat-table
      #selection
      [showColumnSelector]="false"
      [showPaginator]="false"
      [dataSource]="selectedItems"
      [gridModel]="selectionGridModel"
    >
    </tb-mat-table>
  </div>
</div>
