<div class="row">
  <div class="col-3">
    <app-filter-sidebar></app-filter-sidebar>
  </div>
  <div class="col-9">
    <tb-mat-table
      [showColumnSelector]="true"
      [showPaginator]="true"
      [dataSource]="dataSource"
      [totalCount]="totalCount"
      [gridModel]="gridModel"
      [(selection)]="selection"
      (fetchMoreRecords)="getGridItems($event)"
    >
    </tb-mat-table>
  </div>
  <!-- <div class="col-3">
    <tb-mat-table
      [showColumnSelector]="false"
      [showPaginator]="false"
      [dataSource]="selection.selected"
      [gridModel]="selectionGridModel"
      [(selection)]="selection"
    >
    </tb-mat-table>
  </div> -->
</div>
