<div class="mat-elevation-z1">
  <mat-form-field fill="outline">
    <mat-label>Select Columns</mat-label>
    <mat-select [(value)]="defaultColumns" #columns="matSelect" multiple>
      <mat-option *ngFor="let g of gridModel" [value]="g.rowParameter">
        {{ g.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="g.rowParameter" *ngFor="let g of gridModel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ g.title }}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container
          *ngTemplateOutlet="
            {
              date: date,
              list: list,
              text: text
            }[g.cellType]
          "
        >
        </ng-container>
        <ng-template #date>
          <span>
            {{
              getElementFromPath(element, g.rowParameter) | date: 'MM/dd/YYYY'
            }}
          </span>
        </ng-template>
        <ng-template #list>
          <span>
            {{
              getElementFromList(
                element,
                g.rowParameter,
                g.listFilter,
                g.listRowParameter
              )
            }}
          </span>
        </ng-template>
        <ng-template #text>
          {{ getElementFromPath(element, g.rowParameter) }}
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns.value"></tr>
    <tr mat-row *matRowDef="let row; columns: columns.value"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 50, 100, 150, 200]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
