<div class="row">
  <div class="col-12 p-5">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center w-100 ">
      <span><strong>Timeframe</strong></span>
      <div class="timeframe">
        <button aria-label="academic Year" mat-button color="primary" (click)="setAcademicYear()">
          Academic Year
        </button>
        <button aria-label="Load" mat-button color="primary" (click)="applySavedDateRange()">
          Load
        </button>
        <button aria-label="Save" mat-button color="primary" (click)="saveDateRange()">
          Save
        </button>
        <button aria-label="Clear" mat-button color="primary" (click)="deleteDateRange()">
          Clear
        </button>
      </div>
    </div>
    <div class="range">
      <div class="range-slider">
        <span
          [style.left]="left"
          [style.right]="right"
          class="range-selected"
        ></span>
        <div class="bubble" [style.left]="left">
          {{ sliderOption.translate(form.controls.value.value) }}
        </div>
        <div class="bubble" [style.right]="right">
          {{ sliderOption.translate(form.controls.highValue.value) }}
        </div>
      </div>

      <div class="range-input" [formGroup]="form">
        <input
          type="range"
          class="min"
          [attr.min]="sliderOption.min"
          [attr.max]="sliderOption.max"
          [attr.step]="sliderOption.step"
          formControlName="value"
        />
        <output class="bubble"></output>
        <input
          type="range"
          class="max"
          [attr.min]="sliderOption.min"
          [attr.max]="sliderOption.max"
          [attr.step]="sliderOption.step"
          formControlName="highValue"
        />
      </div>
    </div>
  </div>
  <div class="col-12">
    <form [formGroup]="form2">
    <div class="row" >
      <div class="col-3">
        <mat-form-field>
          <mat-label>Start date</mat-label>
          <input matInput formControlName="value" [matDatepicker]="picker1">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3 offset-6">
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input matInput formControlName="highValue" [matDatepicker]="picker2">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
  </div>
      
</div>
