<div class="row">
  <div class="col-12 p-5">
    <div class="range">
      <div class="range-slider">
        <span
          [style.left]="left"
          [style.right]="right"
          class="range-selected"
        ></span>
      </div>
      <div class="range-input" [formGroup]="form">
        <input
          type="range"
          class="min"
          [attr.min]="min"
          [attr.max]="max"
          [attr.step]="step"
          formControlName="value" 
        />
        <input
          type="range"
          class="max"
          [attr.min]="min"
          [attr.max]="max"
          [attr.step]="step"
          formControlName="highValue" 
        />
      </div>
    </div>
  </div>
</div>
